<div class="container">
  <h1>New Cocktail</h1>
  <hr>
  <%= simple_form_for(@cocktail) do |f| %>
    <div class = "form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <%= f.submit class: "btn btn-primary"%>
  <% end %>
  <hr>
  <%= link_to "Back to Cocktails", cocktails_path %>
</div>